 .right{
    float:right;
    direction: inline-block;

}

#navbar {
    background-color: antiquewhite;
    overflow: hidden;
    
}
header{
    background: url(twice\ all.jpg);
    background-position: center;
    background-size: cover;
    min-height: 1000px;
}

#navbar a {
    float: left;
    font-size: 40px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
 
  #navbar a:hover{
    background-color: beige;
    color: black;
  }
  
  img{
    width: 300px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    padding: 25px;
  }
  img:hover{
    cursor: pointer;
    opacity: 0.8;
    transition: 0.5s;
  }

 .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: antiquewhite;
    position: absolute;
    padding: 25px;
    width: 100%;
    
  }
  figcaption{
    text-align: center;
  }
  #heading{
    background-color: antiquewhite;
  }
  




  