 .right{
    float:right;
    direction: inline-block;

}

navbar {
    background-color: antiquewhite;
    overflow: hidden;
}
header{
    background: url(twice\ all.jpg);
    background-position: center;
    background-size: cover;
    min-height: 1000px;
}
